{{! Copyright(c) 1995 - 2018 T-Systems Multimedia Solutions GmbH }}
{{! Riesaer Str. 5, 01129 Dresden }}
{{! All rights reserved. }}
{{#operation}}
/**
 * Namespace for {{nickname}}.
 */
export namespace {{operationIdCamelCase}} {
    /**
     * Parameter map for {{nickname}}.
     */
    export interface PartialParamMap {
    {{#allParams}}
      /**
       * {{{description}}}
       */
      {{paramName}}{{^required}}?{{/required}}: {{{dataType}}};
    {{/allParams}}
    }

    /**
     * Enumeration of all parameters for {{nickname}}.
     */
    export enum Parameters {
    {{#allParams}}
        {{paramName}} = '{{paramName}}'{{^-last}},{{/-last}}
    {{/allParams}}
    }
}

{{/operation}}
